body {
	background-image: url(img/bj.png);
	background-repeat: repeat;
}
a:hover { 
    color:#FFFFFF;
	text-decoration:none;
}
a { 
    color:#FFFFFF;
	text-decoration:none;
}
.fkzhj {
	width: 1000px;
	margin-left: auto;
    margin-right: auto;
	background-color: #FFFFFF;
}

.top {
	height: 109px;
	width: 1000px;
}
.time {
	height: 25px;
	width: 1000px;
	font-family: "풕턼환쥌";
	font-size: 15px;
	line-height:25px;
	color: #FFFFFF;
	background-color: #678EAD;
	margin-bottom: 4px;
}
.box {
	width: 1000px;
}
.box0 {
	width: 960px;
}
.box1 {
	float: left;
	width: 960px;
	height: 30px;
	line-height: 30px;
	background-color: #0000FF;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
}
.box2 {
	float: left;
	width: 960px;
	border: 1px solid #0000FF;
	margin-top: 10px;
	margin-bottom: 10px;
	}
.right {
	margin: 4px;
	height: 425px;
	width: 688px;
	float:right;
}
.right1 {
	margin: 4px;
	width: 730px;
	float:right;
}
.right2 {
	width: 480px;
	float:right;
}
.right3 {
	width: 600px;
	float:right;
}
.right4 {
	width: 928px;
	float: right;
	border: 1px solid #0000FF;
	margin-bottom: 10px;
	margin-top: 10px;
	}
.left {
	width: 304px;
	float:left;
}
.left1 {
	width: 220px;
	float:left;
}
.left2 {
	width: 480px;
	float:left;
}
.left3 {
	width: 350px;
	float:left;
}
.left4 {
	width: 30px;
	float: left;
	height: 422px;
	background-color: #0000FF;
	writing-mode: tb-rl;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}
a.fk{color:#143651;
}

a.fk:hover { color:#000000; font-weight: bold;}
.clear{
    clear:both;
}
.line {
	height: 48px;
	width: 280px;
	margin-top: 12px;
	margin-bottom: 12px;
}
a.home1 {
    background:url(img/1.png) no-repeat;
	height: 48px;
	width: 280px;
	display:inline-block;
}
a.home1:hover {
    background:url(img/11.png) no-repeat;
}
a.home2 {
    background:url(img/2.png) no-repeat;
	height: 48px;
	width: 280px;
	display:inline-block;
}
a.home2:hover {
    background:url(img/22.png) no-repeat;
}
a.home3 {
    background:url(img/3.png) no-repeat;
	height: 48px;
	width: 280px;
	display:inline-block;
}
a.home3:hover {
    background:url(img/33.png) no-repeat;
}
a.home4 {
    background:url(img/4.png) no-repeat;
	height: 48px;
	width: 280px;
	display:inline-block;
}
a.home4:hover {
    background:url(img/44.png) no-repeat;
}
a.home5 {
    background:url(img/5.png) no-repeat;
	height: 48px;
	width: 280px;
	display:inline-block;
}
a.home5:hover {
    background:url(img/55.png) no-repeat;
}
a.home6 {
    background:url(img/6.png) no-repeat;
	height: 48px;
	width: 280px;
	display:inline-block;
}
a.home6:hover {
    background:url(img/66.png) no-repeat;
}
a.home7 {
    background:url(img/7.png) no-repeat;
	height: 48px;
	width: 280px;
	display:inline-block;
}
a.home7:hover {
    background:url(img/77.png) no-repeat;
}
a.home8 {
    background:url(img/8.png) no-repeat;
	height: 48px;
	width: 280px;
	display:inline-block;
}
a.home8:hover {
    background:url(img/88.png) no-repeat;
}
.llll {
	background-color: #000099;
	height: 5px;
	width: 1000px;
}
.foot {
	background-image: url(img/foot.jpg);
	background-repeat: repeat-x;
	width: 1000px;
	height: 66px;
	margin-top: 4px;
}
.foot0 {
	width: 1000px;
	height: 12px;
}
.foot1 {
	width: 1000px;
	text-align:center; 
	font-family: "풕턼환쥌";
	font-size: 13px;
	color: #FFFFFF;
}
.timer {
	height: 25px;
	width: 180px;
	float:right;
}
.timel {
	height: 25px;
	width: 800px;
	float:left;
}
.f_title {
	font-family: "풕턼환쥌";
	font-size: 25px;
	line-height: 50px;
	font-weight: bold;
	color: #08101B;
	text-align: center;
	height: 50px;
	width: 1000px;
	white-space:pre;
}
.f_text {
	font-family: "췖";
	font-size: 17px;
	text-indent:2em;
	line-height: 25px;
	color: #143651;
	width: 960px;
	margin-left: 20px;
	background-image: url(img/b_text.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.f_text1 {
	font-family: "췖";
	font-size: 17px;
	line-height: 25px;
	color: #143651;
	width: 960px;
	margin-left: 20px;
	background-image: url(img/b_text.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.f_text2 {
	font-family: "췖";
	font-size: 16px;
	line-height: 25px;
	color: #143651;
	width: 960px;
	margin-left: 20px;
	background-image: url(img/b_text.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.vid{
	text-align: center;
}
.s_time{
	height: 46px;
	width: 150px;
	font-family: "풕턼환쥌";
	font-size: 15px;
	line-height:23px;
	color: #FFFFFF;
	background-color: #678EAD;
	float:right;
	text-align: center;
}
#demo-container{
	background:#678EAD;
	width:850px;
	float: left;
}
ul#simple-menu{
	list-style-type:none;
	width:850px;
	height:35px;
	font-family:"풕턼환쥌";
	font-size:16px;
	font-weight:normal;
	margin:0;
	padding-top: 11px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
ul#simple-menu li{display:block;float:left;margin:0 0 0 0px;height:35px;}
ul#simple-menu li.left{margin:0;}
ul#simple-menu li a{display:block;float:left;color:#fff;background:#4A6867;line-height:35px;text-decoration:none;padding:0 20px 0 20px;height:35px;}
ul#simple-menu li a.right{padding-right:19px;}
ul#simple-menu li a:hover{background:#2E4560;}
ul#simple-menu li a.current{color:#2E4560;background:#fff;}
ul#simple-menu li a.current:hover{color:#2E4560;background:#fff;}
.oldstyle{
	width: 225px;
	float: left;
	border: 1px solid #0000FF;
	background-color: #EEE;
	text-align: center;
	height: 25px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
}
.oldstyle a:link{
	color: #143651;
}
.oldstyle a:hover{
	color: #0000FF;
}
.oldstyle a:visited {
	color: #000000
}
.newstyle{
	width:225px;
	float:left;
	border: 1px solid #0000FF;
	background-color: #0000FF;
	text-align: center;
	height: 25px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
	font-weight: bold;
	color: #FFF;
	vertical-align: middle;
}
.oldstyle1{
	width:170px;
	float:left;
	border: 1px solid #0000FF;
	background-color: #EEE;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
}
.oldstyle1 a:link{
	color: #143651;
}
.oldstyle1 a:hover{
	color: #0000FF;
}
.newstyle1{
	width:170px;
	float:left;
	border: 1px solid #0000FF;
	background-color: #0000FF;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
	font-weight: bold;
	color: #FFF;
	vertical-align: middle;
}
